[Desktop Entry]
Type=Application
Version=1.0
Name=Hub Sécurité
Comment=Audit et durcissement local Linux
Comment[en]=Local Linux audit and hardening
Exec=hub-securite
Icon=org.mraurevox.HubSecurite
Terminal=false
Categories=System;Monitor;
StartupNotify=true
StartupWMClass=org.mraurevox.HubSecurite
